@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * ┌────────────────────────────────────────────────────┐
 * │ ••• This file is for your main application CSS ••• │
 * └────────────────────────────────────────────────────┘
 */

/*
body {
  @apply antialiased relative bg-cool-gray-200 font-sans;
}
*/

body {
  background-color: rgb(219, 223, 229);
  background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%238064a2' fill-opacity='0.05' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
}

header .container {
  @apply flex flex-row justify-evenly max-w-6xl mx-auto px-6;
}

header .container a {
  @apply text-indigo-600 hover:brightness-150;
}

header .container li {
  @apply text-right;
}

section a {
  @apply text-blue-800 hover:brightness-150;
}

.container {
  @apply max-w-5xl mx-auto px-1;
}

/*
h1 {
  @apply text-center text-cool-gray-900 font-extrabold text-4xl mb-8;
}
*/

ul.examples {
  @apply mt-8 text-2xl mx-auto max-w-xs list-disc;
}

ul.examples li {
  @apply mt-3;
}

ul.examples li a {
  @apply underline;
}

.icon {
  fill: currentColor;
}

/*
 * ╔════════════════════════╗
 * ║ ••• Buzzword Bingo ••• ║
 * ╚════════════════════════╝
 */

/* header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header .letter {
  font-size: 1.5em;
  padding: 5px 8px;
  font-weight: 800;
  color: rgb(41, 41, 41);
  background: #fff;
  margin-right: -7px;
  border: 1px solid #CCC;
}

header .letter:hover {
  color: #fff;
  /* background: rgb(41, 41, 41); */
  background: rgb(13, 114, 173);
}

header .letter.inverse {
  background: rgb(41, 41, 41);
  color: #fff;
}

header .letter.inverse:hover {
  /* background: rgb(41, 41, 41); */
  background: rgb(127, 177, 206);
  color: #fff;
}

/* footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
  @apply text-cool-gray-600 font-light;
}

footer a {
  @apply text-blue-800 hover:brightness-150;
}

/* #game
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#game .game-url {
  @apply w-5/12 pl-2;
}

#game .messages {
  @apply border-x-2 border-b-2 border-indigo-300 rounded-b-md bg-white
  overflow-y-auto;
}

#game .square {
  @apply grid grid-cols-1 grid-rows-3 border-2 border-indigo-300 rounded-md
  p-1 aspect-square text-indigo-700 text-xs leading-3;
}

#game .squares {
  @apply relative grid gap-2 mx-auto w-full md:w-7/12 md:mx-0 auto-rows-max
  auto-cols-max;
}

#game .player-mark {
  @apply h-1.5 aspect-square px-2.5 mx-1.5 rounded-sm;
}

#game .winner {
  @apply absolute opacity-80 text-5xl left-1/3 top-1/2 animate-ping;
}

#game .players {
  @apply border-x-2 border-b-2 border-indigo-300 rounded-b-md mb-0 bg-white;
}

/* #user-form
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#user-form .fields {
  @apply flex flex-wrap items-center place-content-center gap-x-5 mt-2 mx-2;
}

#user-form .name {
  @apply h-6 px-2 py-3 border-2 rounded-sm focus:border-transparent;
}

#user-form .color-square {
  @apply flex w-6 m-0.5 aspect-square cursor-pointer border border-gray-500
  hover:border-transparent hover:ring-gray-600 hover:ring-1;
}

/* others
–––––––––––––––––––––––––––––––––––––––––––––––––– */

form .invalid-feedback {
  @apply m-0.5 text-sm font-medium italic text-red-600;
}

.submit-button {
  @apply mb-2 p-1 bg-[#ee961b] w-28 rounded-md text-white hover:opacity-70;
}

.input-duo {
  @apply flex justify-center items-stretch;
}

.input-duo input[type="text"] {
  @apply h-10 w-full border border-cool-gray-400 rounded-l-md rounded-r-none
  bg-white px-5 text-base focus:outline-none focus:border-indigo-300
  focus:ring-0;
}

.input-duo button {
  @apply h-10 aspect-square p-2 bg-[#ee961b] border border-cool-gray-400
  border-l-0 rounded-r-md transition ease-in-out duration-150 outline-none
  hover:disabled:bg-cool-gray-200 disabled:bg-slate-300
  hover:bg-[#ee961b];
}

/*
 * ┌────────────────────────────────────────────────┐
 * │ ••• Alerts and form errors used by phx.new ••• │
 * └────────────────────────────────────────────────┘
 */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/*
 * ┌──────────────────────────────────────────────────────────┐
 * │ ••• LiveView specific classes for your customization ••• │
 * └──────────────────────────────────────────────────────────┘
 */

.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading{
  cursor: wait;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys{
  0% { scale: 0.95; opacity: 0; }
  100% { scale: 1.0; opacity: 1; }
}

@keyframes fade-out-scale-keys{
  0% { scale: 1.0; opacity: 1; }
  100% { scale: 0.95; opacity: 0; }
}

@keyframes fade-in-keys{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-keys{
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/*
 * ┌──────────────────────────────────────────────────────┐
 * │ ••• Phoenix specific classes for generated files ••• │
 * └──────────────────────────────────────────────────────┘
 */

.phx-hero {
  @apply text-center bg-cool-gray-400 rounded-md py-8 px-4 mt-0 mb-4 mx-12;
}

.phx-hero h1 {
  font-weight: 500;
  margin-bottom: 1rem;
}

.phx-hero p {
  font-weight: 400;
  font-size: 125%;
  margin-bottom: 2rem;
}

.phx-hero button {
  @apply block mx-auto text-white bg-blue-600 mt-4 py-2 px-8 uppercase
  text-sm font-bold rounded transition ease-in-out duration-150;
}

.phx-hero input[type="text"] {
  @apply h-10 border border-gray-300 rounded-md bg-white w-1/3 px-4 text-sm;
}

.phx-hero input[type="text"]:focus {
  @apply outline-none;
}

.phx-logo {
  /* min-width: 300px; */
  margin: 1rem;
  display: block;
}

.phx-logo img {
  width: auto;
  height: 4rem;
  display: block;
}

header {
  width: 100%;
  background: #fdfdfd;
  border-bottom: 1px solid #eaeaea;
  /* margin-bottom: 2rem; */
}
header section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*
header section :first-child {
  order: 3;
}

header section :last-child {
  order: 1;
}
*/

header nav ul,
header nav li {
  margin: 0;
  padding: 0;
  display: block;
  text-align: right;
  white-space: nowrap;
}
header nav ul {
  margin: 4px;
  margin-top: 0;
}
header nav a {
  display: block;
}

.row {
  @apply flex flex-row justify-around;
}

.row .column {
  @apply block flex-auto pt-4 px-16 m-0 max-w-xs;
}

.row h2 {
  @apply text-2xl mb-4 font-normal;
}

.row .column ul {
  @apply mx-auto max-w-xs list-disc;
}

.row .column ul li {
  @apply mt-3;
}

.row .column ul li a {
   @apply underline;
}
